## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.0752,-159.3190,78.78,93,75,1.01,light rain
1,1,Baykit,RU,61.6700,96.3700,2.70,95,100,5.17,light snow
2,2,Smithers,CA,54.7804,-127.1743,12.52,92,90,4.61,light snow
3,3,Ushuaia,AR,-54.8000,-68.3000,49.62,57,40,42.57,scattered clouds
4,4,Bengkulu,ID,-3.8004,102.2655,82.90,73,100,5.64,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
minTemp = input("What is your minimum temperature preference? ")
maxTemp = input("What is your maximum temperature preference? ")

Enter a minimum temperature: 45
Enter a maximum temperature: 70

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
filtered_df = city_data_df.loc[(city_data_df["Max Temp"] < int(maxTemp)) & (city_data_df["Max Temp"] > int(minTemp))]
filtered_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Ushuaia,AR,-54.8000,-68.3000,49.62,57,40,42.57,scattered clouds
15,15,Bluff,NZ,-46.6000,168.3333,59.81,76,77,16.44,broken clouds
21,21,San Quintin,MX,30.4833,-115.9500,52.45,66,0,10.49,clear sky
27,27,Jamestown,US,42.0970,-79.2353,55.51,49,90,5.01,overcast clouds
31,31,Punta Arenas,CL,-53.1500,-70.9167,50.11,76,20,27.63,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
filtered_df.count()

Unnamed: 0             215
City                   215
Country                207
Lat                    215
Lng                    215
Max Temp               215
Humidity               215
Cloudiness             215
Wind Speed             215
Current Description    215
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = filtered_df.dropna()
clean_df.count()

Unnamed: 0             207
City                   207
Country                207
Lat                    207
Lng                    207
Max Temp               207
Humidity               207
Cloudiness             207
Wind Speed             207
Current Description    207
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Ushuaia,AR,49.62,scattered clouds,-54.8000,-68.3000,
15,Bluff,NZ,59.81,broken clouds,-46.6000,168.3333,
21,San Quintin,MX,52.45,clear sky,30.4833,-115.9500,
27,Jamestown,US,55.51,overcast clouds,42.0970,-79.2353,
31,Punta Arenas,CL,50.11,few clouds,-53.1500,-70.9167,
33,Namibe,AO,67.51,broken clouds,-15.1961,12.1522,
35,Hasaki,JP,61.29,overcast clouds,35.7333,140.8333,
37,Ponta Do Sol,PT,63.23,broken clouds,32.6667,-17.1000,
42,Lucapa,AO,65.55,moderate rain,-8.4192,20.7447,
46,Camargo,MX,64.63,broken clouds,27.6667,-105.1667,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    params["location"] = f"{lat},{lng}"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotel_result = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_result["results"][0]["name"]
        print("Row " + str(index) + " successful.")
    except (IndexError):
        print("Hotel not found... skipping.")
print("Search complete!")

Row 3 successful.
Row 15 successful.
Row 21 successful.
Row 27 successful.
Row 31 successful.
Row 33 successful.
Row 35 successful.
Row 37 successful.
Row 42 successful.
Row 46 successful.
Row 49 successful.
Row 50 successful.
Hotel not found... skipping.
Row 63 successful.
Row 64 successful.
Row 66 successful.
Row 67 successful.
Row 72 successful.
Row 78 successful.
Row 79 successful.
Row 80 successful.
Row 85 successful.
Row 86 successful.
Row 97 successful.
Row 100 successful.
Row 106 successful.
Row 107 successful.
Row 108 successful.
Row 112 successful.
Row 119 successful.
Row 120 successful.
Row 122 successful.
Row 123 successful.
Row 124 successful.
Hotel not found... skipping.
Row 127 successful.
Row 130 successful.
Row 133 successful.
Row 136 successful.
Row 137 successful.
Row 138 successful.
Row 139 successful.
Row 141 successful.
Row 143 successful.
Row 145 successful.
Row 146 successful.
Row 147 successful.
Row 150 successful.
Row 157 successful.
Row 166 successful.
Row 168 successful.
Row 170 successful.
Row 172 successful.
Row 179 successful.
Row 184 successful.
Row 189 successful.
Row 194 successful.
Row 195 successful.
Row 200 successful.
Row 204 successful.
Row 212 successful.
Row 218 successful.
Row 219 successful.
Row 220 successful.
Row 221 successful.
Row 223 successful.
Row 226 successful.
Row 232 successful.
Row 234 successful.
Row 237 successful.
Row 240 successful.
Row 247 successful.
Row 248 successful.
Row 249 successful.
Row 250 successful.
Row 256 successful.
Hotel not found... skipping.
Row 258 successful.
Row 260 successful.
Row 265 successful.
Row 266 successful.
Row 271 successful.
Row 277 successful.
Row 282 successful.
Row 283 successful.
Row 288 successful.
Row 290 successful.
Row 297 successful.
Row 298 successful.
Row 302 successful.
Row 304 successful.
Row 315 successful.
Row 317 successful.
Row 320 successful.
Row 322 successful.
Row 323 successful.
Row 327 successful.
Row 330 successful.
Row 336 successful.
Row 337 successful.
Row 338 successful.
Row 352 successful.
Row 355 successful.
Row 356 successful.
Row 359 successful.
Row 362 successful.
Row 369 successful.
Row 371 successful.
Row 375 successful.
Row 378 successful.
Row 388 successful.
Row 398 successful.
Hotel not found... skipping.
Row 408 successful.
Row 414 successful.
Row 419 successful.
Row 421 successful.
Row 422 successful.
Row 423 successful.
Row 424 successful.
Row 429 successful.
Row 433 successful.
Row 434 successful.
Row 438 successful.
Row 441 successful.
Row 444 successful.
Row 448 successful.
Row 450 successful.
Row 455 successful.
Row 461 successful.
Row 463 successful.
Hotel not found... skipping.
Row 469 successful.
Row 470 successful.
Row 472 successful.
Row 475 successful.
Row 476 successful.
Row 477 successful.
Row 478 successful.
Row 483 successful.
Row 494 successful.
Row 496 successful.
Row 497 successful.
Row 498 successful.
Row 499 successful.
Row 507 successful.
Row 510 successful.
Row 514 successful.
Row 515 successful.
Row 519 successful.
Row 522 successful.
Row 523 successful.
Row 528 successful.
Row 531 successful.
Row 532 successful.
Row 533 successful.
Row 537 successful.
Row 541 successful.
Row 543 successful.
Row 547 successful.
Row 564 successful.
Row 569 successful.
Row 571 successful.
Row 572 successful.
Row 577 successful.
Hotel not found... skipping.
Row 586 successful.
Row 587 successful.
Row 591 successful.
Row 592 successful.
Row 596 successful.
Row 597 successful.
Row 599 successful.
Row 601 successful.
Row 605 successful.
Row 606 successful.
Row 608 successful.
Hotel not found... skipping.
Row 612 successful.
Row 618 successful.
Hotel not found... skipping.
Row 622 successful.
Row 627 successful.
Row 628 successful.
Row 629 successful.
Row 631 successful.
Row 632 successful.
Row 638 successful.
Row 651 successful.
Row 652 successful.
Row 653 successful.
Row 655 successful.
Row 657 successful.
Row 660 successful.
Row 663 successful.
Row 664 successful.
Row 665 successful.
Row 667 successful.
Row 668 successful.
Row 675 successful.
Row 676 successful.
Row 677 successful.
Row 681 successful.
Row 682 successful.
Row 693 successful.
Row 697 successful.
Row 698 successful.
Search complete!

In [9]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np

hotel_df.replace("", np.nan, inplace=True)
finalhotel_df = hotel_df.dropna()

In [10]:
# 8a. Create the output File (CSV)
output_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
finalhotel_df.to_csv(output_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Maximum Temperature</dt><dd>{Max Temp} °F</dd>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in finalhotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = finalhotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))